{% extends '::base.html.twig' %}

{% block body -%}
    <div class="center-block">

        <h1 class='page-header text-center'>{{ entity.name }}</h1>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-default">
                    <a href="{{ path('groups') }}">
                        <span class="glyphicon glyphicon-arrow-left"></span>Back to the list
                    </a>
                </button>
                <button class="btn btn-default">
                    <a href="{{ path('groups_edit', { 'id': entity.id }) }}">
                        Edit Group
                    </a>
                </button>
            </div>
            <div class="col-md-12">
                <hr>
                <h4 class="text-center text-capitalize">User List:</h4>
                <ol>
                    {% for user in entity.users %}
                        <li><a href="{{ path('_show', {'id' : user.id}) }}">{{ user.name }} {{ user.surname }} </a>-
                            login: {{ user.login }} - date of
                            birth: {{ user.birth|date('d-m-Y') }}</li>
                    {% endfor %}
                </ol>

            </div>
        </div>
    </div>


{% endblock %}
